
body, html, .pure-g, .pure-u-1-5{
    height: 100%;
    margin: 0;
    padding: 0;
}

form {
    margin: 10px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
}
#side-bar{
    height: 100%;
    margin: 3px;
    overflow: scroll;
}
#side-table{
    width: 100%;
    border: 0;
}
.highlight{
    background: rgba(192, 143, 6, 0.28);
    cursor: pointer;
}
.leaflet-popup-content-wrapper{
    background: darkorange;
    color: white;
    font-weight: bolder;
}
#loader{
    margin-left: 5px;
}
#parking{
    color: black;
}